.container {
  background-color: #ffffff;
  width: 1200px;
  height: 3600px;
  box-shadow: 0 0 20px #aaa;
  padding: 18px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-attachment: scroll;
  border: 1px solid rgb(241, 241, 241);
  color:black;
  font-weight: 400;
  position: relative;
  font-family: "opensans"
}
 
.hstags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.hstags a {
  color: #6c79c1;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.hstags a:hover {
  /* background-color: #333; */
  color: #888383;
}
.cuheading{
  color: #6c79c1;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  margin-left: -16px;
}

li {
  line-height: 1.5;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
}

strong {
  font-weight: bold;
}


/* table */

table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #ddd;
}
